@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @keyframes cursor-blink {

        0%,
        100% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }
    }

    .animate-cursor-blink {
        animation: cursor-blink 0.8s step-end infinite;
    }
}